@import "../../assets/variables.scss";

.product-card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  border-radius: 5px;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  position: relative;
  &:has(.add-to-cart-container:hover) :not(.add-to-cart-container) {
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    filter: opacity(.7);
  }
  &:hover .add-to-cart-container{
    display: block;
    animation: move-to-up .5s ease-out;
  }
  &:hover {
    cursor: pointer;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  }
  &--fav-icon {
    position: absolute;
    top: 20px;
    right: 20px;
    .icon {
      cursor: copy;
      color: $secondary-color;
      font-size: 50px;
    }
  }
  &--image {
    height: 600px;
    border: 1px solid rgba(128, 128, 128, 0.056);
  }
  &--details {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    font-size: 24px;
    gap: 10px;
  }
  .add-to-cart-container{
    display: none;
    position: absolute;
    top: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
  }
}

.home-card {
  width: 85%;
  margin: 0 auto;
}

.shop-card {
  width: 30%;
}


@keyframes move-to-up {
  0%{
    top:90%;
    opacity:0.1;
    background-color: $light-color ;
  }
  100%{
    scale: 1;
    top:50%;
    opacity:1;
    background-color: $secondary-color;
  }
}